@import url(normalize.css);
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #2f343a; }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px; }

.topline {
  height: 45px;
  background-color: #c8a35f; }
  .topline__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    font-size: 12px; }
  .topline__languages {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    margin-right: 10px; }
    .topline__languages--active {
      color: white; }
    .topline__languages:hover {
      color: #2f343a; }
  .topline__pone:hover {
    color: #2f343a; }
  .topline__mail:hover {
    color: #2f343a; }

.firstline {
  height: 100px;
  padding: 28px 0 24px;
  border-bottom: 1px solid #f2f2f2; }
  .firstline__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .firstline__company {
    display: flex;
    align-items: center; }
  .firstline__logo {
    margin-right: 30px;
    padding-right: 25px;
    border-right: 1px solid #f2f2f2; }
  .firstline__ofice {
    padding-left: 35px;
    position: relative; }
    .firstline__ofice:hover {
      color: #c8a35f; }
    .firstline__ofice::before {
      content: "";
      position: absolute;
      background: url(../images/placeholder.svg);
      left: 0;
      top: -4px;
      height: 25px;
      width: 25px; }
  .firstline .header__btn {
    display: none;
    width: 30px;
    height: 30px;
    border: 2px solid #c8a35f;
    border-radius: 5px; }
  .firstline .header__btn-row {
    display: block;
    height: 2px;
    width: 15px;
    margin: 5px auto;
    background-color: #c8a35f; }
  .firstline__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase; }
  .firstline__item + .firstline__item {
    margin-left: 30px; }
  .firstline__link:hover {
    color: #c8a35f; }

.ferst-screen {
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 155px 0;
  position: relative; }
  .ferst-screen::before {
    content: "";
    position: absolute;
    background: url(../images/mouse.svg);
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    height: 30px;
    width: 30px; }
  .ferst-screen__iinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 920px;
    min-height: 245px;
    border: 1px solid #c8a35f;
    padding: 0 72px; }
  .ferst-screen__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .ferst-screen__text {
    font-size: 18px; }

.services {
  padding: 120px 0 129px;
  position: relative;
  overflow: hidden; }
  .services::before, .services::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    background-color: #393f47;
    z-index: -1; }
  .services::after {
    left: -210px; }
  .services::before {
    right: -195px; }
  .services__card {
    outline: transparent; }
  .services__inner {
    position: relative;
    display: flex;
    padding-top: 40px; }
  .services__info {
    margin-right: 30px;
    max-width: 420px; }
  .services__text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px; }
  .services__btn {
    display: inline-block;
    background-color: #c8a35f;
    padding: 18px 48px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: transparent; }
    .services__btn:hover {
      background-color: transparent;
      border: 1px solid #c8a35f; }
    .services__btn:active {
      transform: scale(0.9); }
  .services__arrow {
    background-color: transparent;
    border: none;
    outline: transparent;
    color: #c8a35f;
    position: absolute;
    z-index: 1;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer; }
    .services__arrow:after {
      content: "";
      position: absolute;
      height: 20px;
      width: 65px;
      background-size: contain;
      background-repeat: no-repeat; }
    .services__arrow:hover {
      transform: scale(1.1); }
    .services__arrow:active {
      transform: scale(0.9); }
    .services__arrow--next {
      right: 0;
      top: 0;
      padding-right: 111px; }
      .services__arrow--next:after {
        background-image: url(../images/arrow-next.svg);
        right: 0; }
    .services__arrow--prev {
      right: 0;
      bottom: 0;
      padding-left: 100px; }
      .services__arrow--prev::after {
        background-image: url(../images/arrow-prev.svg);
        left: 0; }
  .services__img {
    height: 226px;
    width: 445px; }

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  position: relative; }
  .title::before {
    content: "";
    position: absolute;
    top: -40px;
    height: 6px;
    width: 90px;
    background-color: #c8a35f; }

.all-services {
  padding: 165px 0 120px; }
  .all-services__title {
    margin-bottom: 60px; }
  .all-services__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .all-services__item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1px;
    height: 180px;
    width: 268px;
    padding: 36px;
    background-color: #393f47;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    position: relative; }
    .all-services__item:hover {
      background-color: #c8a35f; }
      .all-services__item:hover .all-services__icon {
        background-color: #fff; }
        .all-services__item:hover .all-services__icon path {
          transition: all 0.3s;
          fill: #393f47; }
  .all-services__icon {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 35px;
    border-radius: 50%;
    transition: all 0.3s; }

.about {
  padding: 80px 0 82px;
  position: relative; }
  .about::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 410px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #393f47;
    z-index: -1; }
  .about__wrapper {
    display: flex; }
  .about__info {
    max-width: 450px;
    margin-right: 30px; }
  .about__items {
    display: flex;
    flex-wrap: wrap; }
  .about__item {
    width: 200px;
    height: 160px;
    background-color: #fff;
    color: #2f343a;
    text-align: center; }
  .about__item-quantity {
    margin-top: 23px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase; }
  .about__item-info {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #000; }
  .about__item-text {
    font-size: 12px;
    line-height: 14px;
    color: #000; }

.map {
  padding-top: 120px; }

.location {
  margin-bottom: -4px; }
  .location iframe {
    min-height: 450px;
    width: 100%;
    border: none; }

.footer {
  background-color: #c8a35f;
  padding: 60px 0 55px; }
  .footer__inner {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #f2f2f2;
    line-height: 20px; }
  .footer__logo {
    margin-right: 30px; }
  .footer__adress-email {
    font-style: normal; }
  .footer__email {
    color: #2f343a; }
    .footer__email:hover {
      color: #f2f2f2; }
  .footer__phones {
    margin-left: auto; }
  .footer__phone {
    display: block; }
    .footer__phone:hover {
      color: #2f343a; }

/*# sourceMappingURL=style.css.map */
